@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

@import "base/variables";
@import "base/mixins";

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: $typography;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  background: #041F31;

}

@import "blocks/title";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/promo";
@import "blocks/sidepanel";
@import "blocks/menu";
@import "blocks/aboutMe";
@import "blocks/resume";
@import "blocks/skills";
