.button {
  border: none;
  display: block;
  padding: 10px;
  background: $mainColor;
  border-radius: 6px;
  color: #252728;
  &-link:hover {
	text-decoration: none;
  }
  
  &-link {
	border: none;
	display: block;
	padding: 10px;
	background: $mainColor;
	border-radius: 6px;
	color: #252728;
  }
  
  &-transparent {
	margin-top: 10px;
	border-radius: 5px;
	color: $typography;
	border: 2px solid $typography;
	background: transparent;
	
	&:hover {
	  color: $typography;
	  
	  text-decoration: underline;
	  
	}
  }
  
}