.contacts {
  min-height: 740px;
  padding: 140px 0 90px 0;
  
  &__wrapper {
	display: grid;
	grid-template-columns: 400px 570px;
	gap: 70px;
  }
  
  &__img {
	max-height: 600px;
	max-width: 400px;
	display: block;
  }
  
  
  &__text {
	margin-top: 20px;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: $typography;
  }
  
  &__icons {
	margin-top: 20px;
  }
  
  &__icon {
	margin-right: 25px;
	
	img {
	  width: 30px;
	  height: 30px;
	}
  }
  
  &__form {
	margin-top: 30px;
	display: grid;
	grid-template: 45px 180px 60px/repeat(2,280px);
	justify-content: space-between;
	row-gap: 30px;
  }
  
  &__input {
	position: relative;
	
	
	input {
	  border: 1px solid $typography;
	  background: transparent;
	  width: 100%;
	  height: 100%;
	  padding: 0 20px;
	  font-size: 12px;
	  font-weight: 500;
	  
	  &::placeholder {
		color: rgba(196, 196, 196, 0.75);
	  }
	}
	
  }
  &__policy{
	margin-top: 8px;
  }
  &__triggers {
	grid-column: 1/3;
	display: flex;
	flex-direction: column-reverse;
	align-items: stretch;
	button{
	  margin-top: 8px;
	}
  }
  
  label {
	position: absolute;
	padding: 0 8px;
	font-size: 12px;
	background: #041f31;
	top: -8px;
	left: 10px;
  }
  
  &__textarea {
	position: relative;
	grid-column: 1/3;
	
	
	textarea {
	  border: 1px solid $typography;
	  background: transparent;
	  width: 100%;
	  height: 100%;
	  padding: 16px 20px;
	  font-size: 14px;
	  font-weight: 500;
	  resize: none;
	  
	  &::placeholder {
		font-size: 14px;
		
		color: rgba(196, 196, 196, 0.75);
	  }
	}
  }
  
  
}