
.promo {
  margin: 0;
  min-height: 100vh;
  background: url("../../img/main_bg.png") center (center/cover) no-repeat;
  padding: 350px 0 250px 30px;
  position: relative;
  
  &_wrapper {
	max-width: 675px;
  }
  
  &__btns {
	display: flex;
	align-items: center;
	text-decoration: none;
  }
  
  &__link:hover {
	color: $typography;
  }
  
  &__link {
	color: $typography;
	margin-left: 44px;
  }
  
  
}