.skills {
  min-height: 680px;
  padding: 120px 0 0 0;
  
  &__header {
	position: relative;
	text-align: center;
	
  }
  
  &__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	margin-top: 30px;
  }
  
  &__item {
	margin: 0 40px 50px 40px;
	max-width: 120px;
	
	&-title {
	  margin-top: 8px;
	  line-height: 16px;
	  font-weight: 400;
	  font-size: 16px;
	  text-align: center;
	  letter-spacing: 0.13538em;
	  text-transform: uppercase;
	  max-width: 164px;
	  /* text */
	  color: #BDEBEA;
	  
	  
	}
  }
}